
canvas#canvas_main {
    border: solid 1px;
}

html, body {
    margin: 0px;
}

#id_sheet_main {
    border-spacing: 0px;
    table-layout: fixed;
}

#id_sheet_main col {
    width: 80px;
}

#id_sheet_main td {
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

#id_sheet_main tr:first-child td:first-child {
    background-color: lightgray;
}

.column-header {
    background-color: lightgreen;
    text-align: center;
}

.row-header {
    background-color: lightgreen;
    text-align: center;
}

.cell.focused {
    background-color: lightgray;
}
